.card-img-top {
    width: 10px;
    height: 10px;
    object-fit: cover;

}

.card {

    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

.col_kategori {
    width: 14rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.btn-primary {
    border-radius: 50px;
    width: 120px;
}

.btn-primary:hover {
    background-color: black;
}

.box1 {
    width: 100%;
    height: 100px;
    background: #f8f8f8;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.rekomendasi {
    font-size: 2rem;
    padding-top: 1.5rem;
    font-weight: 600;
}

.rekomendasi:hover {
    scale: 1.05;
    color: #2B2A4C;
}

.box2 {
    width: 100%;
    height: 195px;
    background: #f8f8f8;
    border-radius: 20px;
}

.pelanggan {
    color: black;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 19rem;
}

.bnc {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #D21312;
    margin-left: 19rem;
}

.bnc span {
    color: black;
}

.rkp {
    width: 100rem;
}

.tombol {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tombol button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 14rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #D21312;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
@media(max-width: 1204px) {
    .co {
        width: 8rem;
        /* Atur ukuran yang lebih kecil sesuai kebutuhan Anda */
    }

    .col_kategori {
        width: 10rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .box1 {
        width: 100%;
        height: 50px;
    }

    .rekomendasi {
        padding-top: 0.5rem;
        font-weight: 600;
        font-size: 20px;
    }

    .box2 {
        width: 100%;
        height: 165px;
    }

    .bnc {
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .pelanggan {
        color: black;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }

    .rkp {
        width: 140rem;

    }

    .rkp_body p {
        font-size: 0.8rem;
    }

    .rkp_body h5 {
        font-size: 1rem;
    }

    .rkp_body .rkp_ket {
        font-size: 1rem;
    }

    .rkp_body .rkp_ket btn {
        width: 18px;
    }

    .pelanggan {
        color: black;
        font-size: 0.7rem;
        font-family: 'Poppins', sans-serif;
        margin-left: 0.5rem;
    }

    .bnc {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        color: #D21312;
        margin-left: 0.5rem;
    }
}

@media(max-width: 690px) {
    .pelanggan {
        color: black;
        font-size: 0.7rem;
        font-family: 'Poppins', sans-serif;
        margin-left: 0.5rem;
    }

    .bnc {
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        color: #D21312;
        margin-left: 0.5rem;
    }

    .box1 {
        width: 100%;
        height: 40px;
    }

    .box2 {
        width: 100%;
        height: 153px;
    }

}